@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-stone-100 antialiased;
  background-color: #050505;
  background-image: radial-gradient(circle at top, rgba(255, 89, 0, 0.35), transparent 55%),
    linear-gradient(180deg, rgba(7, 7, 7, 0.95), rgba(64, 17, 17, 0.85));
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
